src_url = "http://10.168.1.2:9200"
dest_urls = ["http://10.168.8.28:9200"]

src_index = "index-quote-wind"
dest_index = "index-quote-wind"

# For time series data, it should be '@timestamp', otherwise it should be '_id'
slice_field = "_id"

# Number of workers to use, should be same as number of index partitions and must >= 1
worker_count = 2
size_per_page = 1000

bulk_size = 10000