name: release on tag

on:
  push:
    tags:
      - "v*"

jobs:
  tagged-release:
    name: "Tagged Release"
    runs-on: "ubuntu-latest"

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --release
    - name: Set env
      run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
    - name: Archive Release
      uses: thedoctor0/zip-release@0.6.2
      with:
        type: 'zip'
        filename: release-${{ env.RELEASE_VERSION }}-ubuntu.zip
        directory: './target/release'
        exclusions: '/*.fingerprint/* /*build/* /*deps/* /*incremental/* /*examples/* *.d'
    - uses: "marvinpinto/action-automatic-releases@v1.2.1"
      with:
        repo_token: "${{ secrets.PERSONAL_ACCESS_TOKEN }}"
        prerelease: false
        files: |
          ./target/release/release-${{ env.RELEASE_VERSION }}-ubuntu.zip