name: release on tag

on:
  push:
    tags:
      - "v*"

jobs:
  tagged-release:
    name: "Tagged Release"
    runs-on: "ubuntu-latest"

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --release
    - name: Set env
      run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
    - name: Archive Release
      uses: thedoctor0/zip-release@0.6.2
      with:
        type: 'zip'
        filename: release-${{ env.RELEASE_VERSION }}.zip
        directory: './target/release'
        exclusions: '/*.fingerprint/* /*build/* /*deps/* /*incremental/* /*examples/* *.d'
    - name: Upload distributions
      uses: actions/upload-artifact@v4
      with:
        name: release-dists
        path: ./target/release/release-${{ env.RELEASE_VERSION }}.zip
